<?xml version="1.0"?>
<!--
  ~ Copyright © CM.com. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cm_payments>
            <general>
                <current_version>v1.0.0</current_version>
                <mode>test</mode>
                <test_merchant_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <test_merchant_password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <live_merchant_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <live_merchant_password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </general>
        </cm_payments>
        <payment>
            <cm_payments>
                <active>1</active>
                <model>CMPaymentsFacade</model>
                <order_status>pending</order_status>
                <payment_action>initialize</payment_action>
                <title>Menu Redirect by CM.com</title>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_shipping_method>0</allow_specific_shipping_method>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allow_amount>0</allow_amount>
                <custom_payment_link_lifetime>0</custom_payment_link_lifetime>
                <transaction_type>redirect</transaction_type>
                <order_expiry_unit>HOURS</order_expiry_unit>
                <order_expiry_duration>8</order_expiry_duration>
                <group>cm</group>
            </cm_payments>
            <cm_payments_ideal>
                <active>0</active>
                <model>CMPaymentsIdealFacade</model>
                <order_status>pending</order_status>
                <payment_action>initialize</payment_action>
                <title>iDEAL by CM.com</title>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <is_gateway>1</is_gateway>
                <sort_order>2</sort_order>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_shipping_method>0</allow_specific_shipping_method>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allow_amount>0</allow_amount>
                <custom_payment_link_lifetime>0</custom_payment_link_lifetime>
                <transaction_type>redirect</transaction_type>
                <order_expiry_unit>HOURS</order_expiry_unit>
                <order_expiry_duration>8</order_expiry_duration>
                <group>cm</group>
            </cm_payments_ideal>
            <cm_payments_creditcard>
                <active>0</active>
                <mode>redirect</mode>
                <allowed_cctypes>AE,VI,MC</allowed_cctypes>
                <model>CMPaymentsCreditCardFacade</model>
                <order_status>pending</order_status>
                <payment_action>initialize</payment_action>
                <title>Credit Card by CM.com</title>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <is_gateway>1</is_gateway>
                <sort_order>3</sort_order>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_shipping_method>0</allow_specific_shipping_method>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allow_amount>0</allow_amount>
                <custom_payment_link_lifetime>0</custom_payment_link_lifetime>
                <transaction_type>redirect</transaction_type>
                <order_expiry_unit>HOURS</order_expiry_unit>
                <order_expiry_duration>8</order_expiry_duration>
                <group>cm</group>
            </cm_payments_creditcard>
            <cm_payments_paypal>
                <active>0</active>
                <model>CMPaymentsPaypalFacade</model>
                <order_status>pending</order_status>
                <payment_action>initialize</payment_action>
                <title>PayPal by CM.com</title>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <is_gateway>1</is_gateway>
                <sort_order>4</sort_order>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_shipping_method>0</allow_specific_shipping_method>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allow_amount>0</allow_amount>
                <custom_payment_link_lifetime>0</custom_payment_link_lifetime>
                <transaction_type>redirect</transaction_type>
                <order_expiry_unit>HOURS</order_expiry_unit>
                <order_expiry_duration>8</order_expiry_duration>
                <group>cm</group>
            </cm_payments_paypal>
            <cm_payments_bancontact>
                <active>0</active>
                <model>CMPaymentsBanContactFacade</model>
                <order_status>pending</order_status>
                <payment_action>initialize</payment_action>
                <title>Bancontact by CM.com</title>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <is_gateway>1</is_gateway>
                <sort_order>5</sort_order>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_shipping_method>0</allow_specific_shipping_method>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allow_amount>0</allow_amount>
                <custom_payment_link_lifetime>0</custom_payment_link_lifetime>
                <transaction_type>redirect</transaction_type>
                <order_expiry_unit>HOURS</order_expiry_unit>
                <order_expiry_duration>8</order_expiry_duration>
                <group>cm</group>
            </cm_payments_bancontact>
            <cm_payments_elv>
                <active>0</active>
                <model>CMPaymentsElvFacade</model>
                <order_status>pending</order_status>
                <payment_action>initialize</payment_action>
                <title>ELV by CM.com</title>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <is_gateway>1</is_gateway>
                <sort_order>6</sort_order>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_shipping_method>0</allow_specific_shipping_method>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allow_amount>0</allow_amount>
                <custom_payment_link_lifetime>0</custom_payment_link_lifetime>
                <transaction_type>redirect</transaction_type>
                <order_expiry_unit>HOURS</order_expiry_unit>
                <order_expiry_duration>8</order_expiry_duration>
                <group>cm</group>
            </cm_payments_elv>
            <cm_payments_klarna>
                <active>0</active>
                <model>CMPaymentsKlarnaFacade</model>
                <order_status>pending</order_status>
                <payment_action>initialize</payment_action>
                <title>Klarna by CM.com</title>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <is_gateway>1</is_gateway>
                <sort_order>7</sort_order>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_shipping_method>0</allow_specific_shipping_method>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allow_amount>0</allow_amount>
                <custom_payment_link_lifetime>0</custom_payment_link_lifetime>
                <transaction_type>redirect</transaction_type>
                <order_expiry_unit>HOURS</order_expiry_unit>
                <order_expiry_duration>8</order_expiry_duration>
                <group>cm</group>
            </cm_payments_klarna>
        </payment>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
    </default>
</config>
