<?xml version="1.0"?>
<!--
  ~ Copyright © CM.com. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_cm_payments_ideal">
        <observer name="cm_payments_ideal_gateway_data_assign"
                  instance="CM\Payments\Observer\AdditionalDataAssignObserver" />
    </event>

    <event name="payment_method_assign_data_cm_payments_elv">
        <observer name="cm_payments_elv_gateway_data_assign"
                  instance="CM\Payments\Observer\AdditionalDataAssignObserver" />
    </event>

    <event name="payment_method_assign_data_cm_payments_klarna">
        <observer name="cm_payments_klarna_gateway_data_assign"
                  instance="CM\Payments\Observer\AdditionalDataAssignObserver" />
    </event>

    <event name="cmpayments_before_order_items_create_by_quote">
        <observer name="cm_payments_add_adjustment_item_method_service"
                  instance="CM\Payments\Observer\Method\Service\AddOrderItemsAdjustmentObserver" />
    </event>

    <event name="cmpayments_before_order_items_create">
        <observer name="cm_payments_add_adjustment_item_order_service"
                  instance="CM\Payments\Observer\Order\Service\AddOrderItemsAdjustmentObserver" />
    </event>

    <event name="sales_order_shipment_save_after">
        <observer name="cm_payments_sales_order_shipment_save_after"
                  instance="CM\Payments\Observer\SalesOrderShipmentAfterObserver" />
    </event>
</config>
